<template>
  <v-flex
    fluid
  >
    <v-parallax src="https://cdn.vuetifyjs.com/images/parallax/material.jpg">
      <v-layout
        column
        align-center
        justify-center
        class="white--text"
      >
        <h1 class="white--text mb-2 display-1 text-xs-center font-weight-medium">Selamat Datang di Aplikasi Mie Madju</h1>
        <div class="subheading mb-3 text-xs-center font-weight-medium">
          Kami menyediakan penjualan mie mentah untuk anda olah kembali sesuai keinginan anda
        </div>
        <div class="subheading mb-3 text-xs-center font-weight-medium">
          Ayo mulai berbelanja sekarang
        </div>
        <v-btn large color="primary" to="/pemesanan">
          Mulai Belanja
        </v-btn>
      </v-layout>
    </v-parallax>
    <v-container
      fluid
      grid-list-lg
    >
      <v-layout row wrap>
        <v-flex xs4
          v-for="category in categories"
          :key="category.name"
        >
          <v-hover>
            <v-card 
              slot-scope="{ hover }"
            >
              <v-img
              :aspect-ratio="16/9"
              :src="category.img"
              >
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="d-flex transition-fast-in-fast-out transparent darken-2 v-card--reveal"
                    style="height: 100%; position: relative; margin: 50px"
                  >
                    <v-layout row wrap>
                      <span class="title">
                        Informasi Produk<br>
                        <span class="subheading">
                          {{category.information}}
                        </span>
                      </span>
                    </v-layout>
                  </div>
                </v-expand-transition>
                <div 
                  style="position: absolute;"
                  v-if="!hover"
                >
                  <v-card-title primary-title class="white--text">
                    <div class="headline">{{category.name}}</div>
                  </v-card-title>
                </div>
              </v-img>
            </v-card>
          </v-hover>
        </v-flex>
      </v-layout>
    </v-container>
    <v-container
      fluid
      grid-list-lg
    >
      <v-layout row wrap>
        <v-flex xs5>
          <v-img
            src="https://cdn.vuetifyjs.com/images/cards/foster.jpg"
            height="125px"
            contain
          ></v-img>
        </v-flex>
        <v-flex xs7>
          <v-card-title primary-title>
            <div>
              <div class="headline">Sedikit tentang kami . . .</div>
              <div>Kami sudah berdiri sejak 2 November 1961 dan telah melayani berbagai pesanan warung mie di Bandung</div>
            </div>
          </v-card-title>
        </v-flex>
      </v-layout>
    </v-container>
    <v-parallax src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"
      height="200"
    >
      <v-layout
        column
        align-center
        justify-center
        class="white--text"
      >
        <h1 class="white--text mb-2 display-1 text-xs-center font-weight-medium">Ayo Mulai Berbelanja Produk Kami</h1>
        <div class="subheading mb-3 text-xs-center font-weight-medium">
          Klik di sini untuk mulai
        </div>
        <v-btn large color="primary" to="/pemesanan">
          Belanja
        </v-btn>
      </v-layout>
    </v-parallax>
    <v-container
      fluid
    >
      <v-layout
        column
        justify-center
        id="location"
      >
        <v-flex xs12>
          <h1 class="mb-2 title font-weight-medium">Lokasi Kami</h1>
          <h3 class="subtitle font-weight-medium">Jalan Terusan Pasir Koja 85A / 91 belakang nomor 11</h3>
        </v-flex>
      </v-layout>
    </v-container>
  </v-flex>
</template>

<script>
  export default {
    data: () => ({
      categories: [
        { name: "Mie biasa", information: "Harga mie biasa 32.000,-/kg dimana 1 kg setara dengan 12 ikat mie", img: "https://walker-web.imgix.net/cms/Gradient_builder_2.jpg?auto=format,compress&w=1920&h=1200&fit=max"},
        { name: "Mie special", information: "Harga mie special 35.000,-/kg dimana 1 kg setara dengan 12 ikat mie", img: "https://walker-web.imgix.net/cms/Gradient_builder_2.jpg?auto=format,compress&w=1920&h=1200&fit=max"},
        { name: "Pangsit rebus dan goreng", information: "Harga pangsit rebus maupun goreng @ 40.000,-/kg", img: "https://walker-web.imgix.net/cms/Gradient_builder_2.jpg?auto=format,compress&w=1920&h=1200&fit=max"},
      ]
    })
  }
</script>

<style>

</style>
