<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Login</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field prepend-icon="person" name="login" label="Login" type="text" v-model="username"></v-text-field>
              <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="password"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" to="/register">Register</v-btn>
            <v-btn color="primary" @click="onSubmit(username, password)">Login</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { LOGIN } from "@/store/actions.type";
  export default {
    data: () => ({
      username: null,
      password: null,
    }),
    props: {
      source: String
    },
    methods: {
      onSubmit(username, password) {
        this.$store
          .dispatch(LOGIN, { username, password })
          .then(() => this.$router.push({ name: "home" }));
      }
    }
  }
</script>