<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center column v-if="showModal">
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Pembelian Barang</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-overflow-btn
                :items="dropdown"
                label="Pilih Barang"
                editable
                item-value="text"
                v-model="barang"
              ></v-overflow-btn>
              <v-text-field prepend-icon="add_shopping_cart" name="jumlah" label="Jumlah" type="text" v-model="jumlah"></v-text-field>
              
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="onSubmit(currentUser.id, barang, jumlah)">Tambahkan pengeluaran</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
      <v-btn color="primary" @click="showModal = false">Hide Modal</v-btn>
    </v-layout>
    <v-layout align-center justify-center column v-if="!showModal">
      <v-data-table
        :headers="headers"
        :items="items"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ reversedMap[props.item.id_barang] }}</td>
          <td class="text-xs-right">{{ users[props.item.user_id] }}</td>
          <td class="text-xs-right">{{ props.item.jumlah }}</td>
          <td class="text-xs-right">{{ props.item.jumlah * prices[props.item.id_barang] }}</td>
        </template>
      </v-data-table>
      <v-btn color="primary" @click="showModal = true">Show Modal</v-btn>
    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  import { BUY } from '@/store/actions.type'

  export default {
    computed: {
      ...mapGetters([
        'currentUser',
        'isAuthenticated',
        'items',
        'users'
      ])
    },
    data: () => ({
      barang: null,
      jumlah: null,
      showModal: false,
      dropdown: [
        { text: 'Terigu' },
        { text: 'Telur' },
        { text: 'Garam' },
      ],
      mapDropdown: {
        "Terigu": '1',
        "Telur": '2',
        "Garam": '3'
      },
      reversedMap: {
        '1': "Terigu",
        '2': "Telur",
        '3': "Garam"
      },
      prices: {
        '1': '32000',
        '2': '35000',
        '3': '40000'
      },
      headers: [
        {
          text: 'Jenis Barang',
          align: 'left',
          sortable: false,
          value: 'id_barang'
        },
        { text: 'User', value: 'user_id' },
        { text: 'Jumlah', value: 'jumlah' },
        { text: 'Total pengeluaran', value: 'pengeluaran'}
      ],
    }),
    methods: {
      onSubmit(idUser, barang, jumlah) {
        let idBarang = this.mapDropdown[barang];
        this.$store
          .dispatch(BUY, { idUser, idBarang, jumlah })
          .then(() => {
            this.$router.push({ name: "home"});
          })
      }
    }
  }
</script>
