<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Pemesanan Barang</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-overflow-btn
                :items="dropdown"
                label="Pilih Barang"
                editable
                item-value="text"
                v-model="barang"
              ></v-overflow-btn>
              <v-text-field prepend-icon="add_shopping_cart" name="jumlah" label="Jumlah" type="text" v-model="jumlah"></v-text-field>
              
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="onSubmit(currentUser.id, barang, jumlah)">Pesan</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'
  import { ORDER } from '@/store/actions.type'

  export default {
    computed: {
      ...mapGetters([
        'currentUser',
        'isAuthenticated',
      ])
    },
    data: () => ({
      barang: null,
      jumlah: null,
      dropdown: [
        { text: 'Mie biasa' },
        { text: 'Mie special' },
        { text: 'Pangsit rebus dan goreng' },
      ],
      mapDropdown: {
        "Mie biasa": '1',
        "Mie special": '2',
        "Pangsit rebus dan goreng": '3'
      }
    }),
    methods: {
      onSubmit(idUser, barang, jumlah) {
        let idBarang = this.mapDropdown[barang];
        this.$store
          .dispatch(ORDER, { idUser, idBarang, jumlah })
          .then(() => {
            this.$router.push({ name: "home"});
          })
      }
    }
  }
</script>
