<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-data-table
        :headers="headers"
        :items="itemPenjualan"
        class="elevation-1"
      >
        <template slot="items" slot-scope="props">
          <td>{{ reversedMap[props.item.id_barang] }}</td>
          <td class="text-xs-right">{{ users[props.item.user_id] }}</td>
          <td class="text-xs-right">{{ props.item.jumlah }}</td>
          <td class="text-xs-right">{{ props.item.jumlah * prices[props.item.id_barang] }}</td>
        </template>
      </v-data-table>
    </v-layout>
  </v-container>
</template>

<script>
  import {mapGetters} from 'vuex'

  export default {
    computed: {
      ...mapGetters([
        'currentUser',
        'isAuthenticated',
        'itemPenjualan',
        'users'
      ])
    },
    data: () => ({
      reversedMap: {
        '1': "Mie biasa",
        '2': "Mie special",
        '3': "Pangsit rebus dan goreng"
      },
      prices: {
        '1': '32000',
        '2': '35000',
        '3': '40000'
      },
      headers: [
        {
          text: 'Jenis Barang',
          align: 'left',
          sortable: false,
          value: 'id_barang'
        },
        { text: 'User', value: 'user_id' },
        { text: 'Jumlah', value: 'jumlah' },
        { text: 'Total pendapatan', value: 'pendapatan'}
      ],
    }),
    methods: {
      
    }
  }
</script>
