<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Register</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field prepend-icon="person" name="name" label="Name" type="text" v-model="name"></v-text-field>
              <v-text-field prepend-icon="email" name="email" label="Email" type="text" v-model="email"></v-text-field>
              <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="password"></v-text-field>
              <v-text-field id="password" prepend-icon="lock" name="password_confirmation" label="Re-type password" type="password" v-model="password_confirmation"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="onSubmit(name, email, password, password_confirmation)">Register</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import { REGISTER } from "@/store/actions.type";
  export default {
    data: () => ({
      drawer: null,
      name: null,
      email: null,
      password: null,
      password_confirmation: null
    }),
    props: {
      source: String
    },
    methods: {
      onSubmit(name, email, password, password_confirmation) {
        this.$store
          .dispatch(REGISTER, { name, email, password, password_confirmation})
          .then(() => this.$router.push({ name: "login" }));
      }
    }
  }
</script>