<template>
  <v-app id="keep">
    <v-navigation-drawer
      v-model="drawer"
      fixed
      clipped
      class="grey lighten-4"
      app
    >
      <v-list
        dense
        class="grey lighten-4"
      >
        <template v-for="(item, i) in items">
          <v-layout
            v-if="item.heading"
            :key="i"
            row
            align-center
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
          </v-layout>
          <v-divider
            v-else-if="item.divider"
            :key="i"
            dark
            class="my-3"
          ></v-divider>
          <v-list-tile
            v-else
            :key="i"
            @click="redir(item.link);"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
        <template v-if="isAuthenticated" v-for="(item, i) in loginItems">
          <v-layout
            v-if="item.heading"
            :key="i"
            row
            align-center
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
          </v-layout>
          <v-divider
            v-else-if="item.divider"
            :key="i"
            dark
            class="my-3"
          ></v-divider>
          <v-list-tile
            v-else
            :key="i"
            @click="redir(item.link);"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
        <template v-if="currentUser.id == 1" v-for="(item, i) in ownerItems">
          <v-layout
            v-if="item.heading"
            :key="i"
            row
            align-center
          >
            <v-flex xs6>
              <v-subheader v-if="item.heading">
                {{ item.heading }}
              </v-subheader>
            </v-flex>
          </v-layout>
          <v-divider
            v-else-if="item.divider"
            :key="i"
            dark
            class="my-3"
          ></v-divider>
          <v-list-tile
            v-else
            :key="i"
            @click="redir(item.link);"
          >
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title class="grey--text">
                {{ item.text }}
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar color="teal lighten-3" app clipped-left>
      <v-toolbar-side-icon @click.native="drawer = !drawer"></v-toolbar-side-icon>
      <span class="title ml-3 mr-5">Mie&nbsp;<span class="font-weight-light">Madju</span></span>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat v-if="isAuthenticated" @click="logout">Logout</v-btn>
        <v-btn flat v-else to="/login">Login</v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height class="grey lighten-4">
        <v-layout justify-center align-center>
          <router-view/>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
  import {mapGetters} from 'vuex'
  import { LOGOUT } from "@/store/actions.type";

  export default {
    computed: {
    ...mapGetters([
      "currentUser",
      "isAuthenticated",
    ])
    },
    data: () => ({
      drawer: null,
      items: [
        { heading: 'Menu Utama' },
        { icon: 'home', text: 'Home', link: '/' },
        
        // { heading: 'Other' },
        // { icon: 'place', text: 'Our Location', link: '' },
        // { icon: 'portrait', text: 'About Us', link: '' },
        // { icon: 'local_phone', text: 'Contact Us', link: '' },
      ],
      loginItems: [
        { icon: 'wifi', text: 'Pemesanan', link: '/pemesanan' },
        { divider: true }, 
      ],
      ownerItems: [
        { heading: 'Menu Owner' },
        { icon: 'assignment_returned', text: 'Pembelian', link: '/pembelian' },
        { icon: 'commute', text: 'Penjualan', link: '/penjualan'},
        { divider: true },
      ]
    }),
    props: {
      source: String
    },
    methods: {
      redir: function(url) {
        this.$router.push(url);
      },
      logout() {
        this.$store
          .dispatch(LOGOUT)
          .then(next)
          // .then(() => this.$router.push({ name: "home" }));
      }
    }
  }
</script>

<style lang="stylus">
  #keep
    .v-navigation-drawer__border
      display: none
</style>